.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    font-family: arial;
    display: flex;
    position: absolute;
    right: 0px;
}

body {
    font-family: arial
}
#logo {
margin: auto;
position: relative;
display: block;
padding-top: 150px;
width: 272px;
height: 92px;
position: relative;
}

.upper {
list-style-type: none;
margin: 0;
padding: 0;
}

a {
color: darkslategray;
text-decoration: none;
}
li {
float: right;
padding: 5px;
margin-right: 10px;
margin-top: 10px;
font-size: 14px;
}

.bar{
margin: auto;
width:545px;
border-radius:40px;
border:1px solid #dcdcdc;
box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within{
box-shadow: 1px 1px 8px 1px #dcdcdc;
outline:none;
}
.searchbar{
height:45px;
border:none;
width:470px;
margin-left: 10px;
font-size:16px;
outline: none;

}

.find {
height:20px;
position:relative;
top:5px;
left:10px;
}
.voice{
height:20px;
position:relative;
top:5px;
left:10px;
}